@charset "utf-8";
*
{
    box-sizing: border-box;
}

body
{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Slab', serif;
    display: grid;
    grid-template-columns:
        'menu menu menu menu'
        'bgomb nagykep nagykep jgomb'
        'bgomb galeria galeria jgomb'
        'f f f f';
}

.galeria
{
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
    grid-area: 'galeria';
    width: 100%;
    vertical-align: middle;
}

.nagykep
{   
    width: 80%;
    padding-top: 5%;
    padding-left: 50%;
    padding-right: 50%;
    padding-bottom: 0%;
    grid-area: 'nagykep';
}

main
{
    padding: auto;
}

footer
{
    grid-area: f;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img
{
    vertical-align: middle;
    width: 10%;
}

button
{
    margin-top: 3%;
    height: 620px;
    border: none;
    color: white;
    background-color: rgb(177, 177, 177);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

a
{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#bal
{
    grid-area: bgomb;
    float: left;
}

#jobb
{
    grid-area: jgomb;
    float: right;
}

#bal:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(100, 100, 100);
    color: white;
}

#jobb:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(100, 100, 100);
    color: white;
}

.topnav 
{
    grid-area: menu;
    top: 0%;
    width: 100%;
    position:fixed;
    background-color: rgb(177, 177, 177);
    overflow: hidden;
    background-size: 14px;
}
  
.topnav a 
{
    margin: 0px;
    position: relative;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover 
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(100, 100, 100);
    color: white;
}
  
.topnav a.active 
{
    background-color: rgb(100, 100, 100);
    color: white;
}
  
.topnav-right 
{
    float: right;
}

@media screen and (max-with:600px)
{
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'menu menu menu menu'
        'bgomb nagykep nagykep jgomb'
        'bgomb galeria galeria jgomb'
        'f f f f';
        ;
    }
}